body {
    background-image: url("pandapic.jpg");
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Arial Black", Gadget, sans-serif;
    background-color: crimson;
    max-width: 500px;
}

h1 {
    font-size: 200%;
    max-width: 300px;
}

h2 {
    font-size: 180%;
}

h3 {
    font-size: 160%;
}

h4 {
    font-size: 140%;
}

h5 {
    font-size: 120%;
}

h6 {
    font-size: 110%;
}

p {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background-color: palevioletred;
    font-size: 105%;
    max-width: 400px;
}

table {
    background-color: mediumvioletred
}

ul {
    background-color: indianred;
    max-width: 250px;
}

a:link {
  color: blue;
    text-decoration: underline;
}

a:visited {
  color: purple;
}

a:hover {
  color: hotpink;
}

a:active {
  color: blue;
}

table, td, th, tr {
    border: 1px solid black;
}

.hw {
    border: 1px solid black;
}

#welcome {
    text-shadow: 3px 2px pink;
}