*{
    box-sizing:border-box;
}

#head {
    margin: auto;
    width: 50%;
    border: 2px solid;
    text-align: center;
    font-family: "Arial Black", Gadget, sans-serif;
}   


#subhead {
    margin: auto;
    width: 50%;
    border: 2px solid;
    text-align: center;
    font-family: "Arial Black", Gadget, sans-serif;
}
    
#imgwide {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
}

div.sticky {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    padding: 3px;
    border: 2px solid;
    background-color: azure;
}

.parent {
    display: table;
    width: 100%;
}

.para {
    display: table-cell;
    float:left;
    border: 3px solid;
    padding: 10px;
    width: 33%;

}



.floatpics {
    float: right;
    height: 100px;
    width: 100px;
    padding: 10px;
    
}

.clear {
    clear:both;
}

