body {
  padding-top: 40px;
}

.center {
  padding: 100px 15px;
  text-align: center;
  background-color:red;    
}

#articles {
    margin-top:50px; 
}

.col-sm-3 {
    text-align: center;
    padding: 20px;
    width: 100%;
    background-color: greenyellow;
}

@media only screen and (min-width: 600px) {
    .col-sm-3 {
        width: 100%;
        background-color: orange;
    }
}

@media only screen and (min-width: 768px) {
    .col-sm-3 {
        width: 25%;
        background-color: yellow;
    }
}